# integration-salesforce://dockerignore
# licensed under the terms of the [MIT License](https://github.com/revaturecloud/integration-salesforce/blob/master/LICENSE).

# DIRECTORY - ROOT
# exclude - filepath
.vagrant
.vscode
src/**/bin
src/**/obj

# exclude - filename
.dockerignore
.gitignore
CHANGELOG*
CONTRIBUTING*
docker*
LICENSE*
README*
ubuntu*
vagrant*
