# dockerignore::author
# __author__ is licensed under the terms of the [MIT License](https://github.com/fredbelotte/author/blob/master/LICENSE).

# DIRECTORY - ROOT
# exclude - filepath
.vagrant
.vscode

# exclude - filename
.dockerignore
.gitignore
CHANGELOG*
CONTRIBUTING*
docker*
LICENSE*
README*
ubuntu*
vagrant*
