# gitignore::author
# licensed under the terms of the [MIT License](https://github.com/fredbelotte/author/blob/master/LICENSE).

# PROJECT
# exclude - filepath
.vagrant/
.vscode/

# exclude - filename
ubuntu*
